* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav .navbar-brand img {
  height: 100px;
  width: 100px;
  margin-top: 10px;
  border-radius: 50%;
}

.card-item {
  flex: 0 0 100%;
}

@media (min-width: 768px) {
  .card-item {
    flex: 0 0 50%;
  }
}

@media (min-width: 992px) {
  .card-item {
    flex: 0 0 33.3333%;
  }
}

#cardSlider {
  transition: transform 0.6s ease-in-out;
}

.card {
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}
.card-item img{
  height: 200px;
  object-fit: fill;
  
}